.wrapper {
  display: flex;
}

.wrapper .side-left,
.wrapper .side-right {
  width: 50%;
  height: 100vh;
}

.wrapper .side-left {
  background: #252525;
}

.wrapper .side-right {
  background: #c21807;
}
